@font-face {
    font-family: title;
    src: url('/resources/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: body;
    src: url('/resources/NanumMyeongjo-Regular.ttf');
}

html {
    margin: 0 auto;
    max-width: 1200px;

    height: 100%;

    background-color: #2a2622;
}

h1 {
    font-weight: normal;
    font-family: title, sans-serif;
    font-size: 60px;
    line-height: 1.2;
}

h2 {
    font-weight: normal;
    font-family: title, sans-serif;
    font-size: 30px;
}

h3 {
    font-weight: normal;
    font-family: body, serif;
    font-size: 30px;
}

body {
    font-size: 20px;
    font-family: body, serif;
    color: #FFFFFF;
    padding: 50px 25px 25px 25px;
    margin:0;
    line-height: 2;
	overflow-x: hidden;
}

li {
	padding-bottom: 5pt;
}

video {
    width: 100%;
}

iframe {
	border: none;
}

img {
    width: 100%;
}

a {
    color: #e65f54;
}

a:hover {
    color: #fee400;
}

#navmobile {
	display: none;
	width: 80px;
	left: 0;
	right: 0;
	height: 50px;
	margin: 0;
	padding: 5px 25px 10px 25px;
	top: 0;
	position:fixed;
	color: #ffffff;
	background-color: #e65f54;
	font-size:25px; 
	font-family:title;
	z-index: 99 !important;
	border-radius: 0 0 50px 0;
}

#navmobile a {
	color: #ffffff;
}

#navframe {
	position:fixed; 
	height:100%;
	width: 150px;
	top:0;
}

nav {
	margin:auto;
	padding:0;
	position:relative;
	
    text-align: center;

    font-family: title, sans-serif;
    font-size: 30px;

	width: 150px;
    top: 50px;

    color: #2a2622;
	
	overflow-y: auto;
    overflow-x: hidden;
	
	background-color: #e65f54;
    border-radius: 100px 100px 10px 10px;
}

nav a {
    color: #ffffff;
	text-decoration: none;
}

nav a:hover {
    color: #fee400;
}

nav ul {
    margin: 0;
    line-height: 1;
    padding: 0 15px;
    list-style-type: none;
}

nav li {
    padding-bottom: 15pt;
}

article {
    margin-left: 175px;
}

.horizontal-container {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: inset 0 2px 5px #000000;
	background-color:#594d47;
	padding: 10px;
	width: fit-content;
}

.software-icon {
	width: 1em;
	height: 1em;
	display: inline;
	vertical-align: baseline;
}

.webvid {
	width: 100%; 
	aspect-ratio: 16/9;
	position: relative;
}

.grid {
    padding: 0;
    width: 100%;
	margin: 0 auto;
}

.grid::after {
	content: “”;
	display: block;
	clear: both;
}

.grid a {
    overflow: hidden;
	position: relative;

    width: 38%;
	padding-bottom: 38%;
    height: 0;
	float: left;
	
	border-radius: 50%;
	display: inline-block;
	margin:1%;
	margin-top: -4%;
}

.grid a::after {
    content: '';
    position: absolute;
	border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 10px solid #e65f54;
	outline:10px solid #e65f54;
}

.grid a:hover::after {
    border: 20px solid #fee400;
	outline:10px solid #fee400;
}

.grid a:nth-child(4n+3) {
	margin-left: 20.5%;
}

.grid a:nth-child(4n+5) {
	clear:left;
}

.grid-hover-label {
    position: absolute;
    color: #e65f54;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 200px 30px 30px;

    font-family: title, sans-serif;
    font-size: 30px;
    margin: 0;
    opacity: 0;
    text-decoration: underline;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.9) 200px);
}

.grid a:hover .grid-hover-label {
    opacity: 1;
}

@media screen and (max-width: 700px) {

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 30px;
    }

    article {
        margin-left: auto;
    }

    #navframe {
        display: none;
    }
	
	#navmobile {
		display: block;
	}

    .grid {
        grid-template-columns: auto;
    }
	
	.grid a::after {
		border:5px solid #e65f54;
		outline:10px solid #e65f54;
	}
	
	
	/*body::before {
		display:block;
		content: '';
		height:50px;
	}*/
}